@import url("https://fonts.googleapis.com/css?family=Open+Sans|Raleway:300,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", Sans-Serif;
  font-size: 1em;
  scroll-behavior: smooth;
}

.scene {
  position: relative;
  width: 100%;
  max-height: 100vh;
  background: linear-gradient(whitesmoke, #6dd5fa, #2980b9);
  overflow: hidden;
}

.scene h1 {
  margin: 22% 5%;
  max-width: 50%;
  font-family: "Raleway", Sans-Serif;
  font-size: 4.5rem;
  color: rgba(255, 255, 255, 0.6);
}

.light-scene {
  position: absolute;
  top: 27%;
  left: 49%;
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 2%;
  z-index: 1000;
}

header.sticky {
  background: #3fc5f0;
}

header nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: black;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 500;
  transition: 0.6s;
}

.marker-active {
  position: absolute;
  height: 4px;
  background: #6866663d;
  bottom: -8px;
  transition: 0.5s;
  border-radius: 2px;
}

header.sticky nav a {
  color: white;
}

/* ******************************Project***************************** */

#works {
  position: relative;
  background: #42dee1;
  padding: 6% 5% 2%;
}

h2 {
  text-align: center;
  margin-bottom: 2%;
  font-family: "Raleway", Sans-Serif;
  font-size: 3em;
  text-decoration: underline;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.projects .project {
  position: relative;
  margin: 2%;
  width: 25%;
  background: #3a7bd586;
  border-radius: 10px;
  box-shadow: 0 25px 30px rgba(0, 0, 0, 0.5);
}

.projects .project .img-box {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.projects .project .img-box img {
  max-width: 100%;
  transition: transform 2s;
}

.projects .project:hover .img-box img {
  transform: scale(1.2);
}

.projects .project .project-info {
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  right: 1px;
  background: rgba(0, 0, 0, 0.8);
  transform: scaleY(0);
  transition: transform 0.5s;
}

.projects .project:hover .project-info {
  transform: scaleY(0.9) scaleX(0.9);
  z-index: 1;
}

.projects .project .project-info .content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding: 15px;
  color: rgba(255, 255, 255, 0.5);
}

.projects .project .project-info .content h2 {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  background: none;
  color: purple;
}

.projects .project .project-info .content p {
  margin: 10px 0 0;
  padding: 0;
  font-size: 18px;
}

.demo-link {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.demo-link a {
  text-decoration: none;
  color: purple;
}
/* Glowing Gradient */
.projects .project::before {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000046;
  /* background: linear-gradient(45deg, #fb0094, #00f, #0f0, #ff0, #f00, #fb0094, #00f, #0f0, #ff0, #f00); */
  opacity: 0;
  transition: 0.5s;
}

.projects .project::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ff2e09;
  /* background: linear-gradient(45deg, #fb0094, #00f, #0f0, #ff0, #f00, #fb0094, #00f, #0f0, #ff0, #f00); */
  opacity: 0;
  filter: blur(50px);
  transition: 0.5s;
}

.projects .project:hover::before,
.projects .project:hover::after {
  opacity: 1;
}

/* Skills */
#skills {
  background: #6decb9;
  padding: 6% 5% 6%;
}

#skills .skill-tag h3 {
  text-align: center;
  margin-bottom: 5%;
  font-family: "Raleway", Sans-Serif;
  font-size: 3em;
  text-decoration: underline;
}

.skill-icon ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.skill-icon ul li img {
  height: 100px;
}

/* Contact Me */

#contact-me {
  padding-top: 4%;
  padding-bottom: 2%;
  background: #eef5b2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#contact-me .contact-header {
  max-width: 500px;
  text-align: center;
}

#contact-me .contact-header h3 {
  font-family: "Raleway", Sans-Serif;
  font-size: 3em;
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.8);
  margin: 40px;
}

.contact-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.contact-container .contact-info {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.contact-container .contact-info .contact-box {
  position: relative;
  padding-top: 4%;
  display: flex;
  flex-direction: column;
}

.contact-container .contact-info .contact-box .contact-img img {
  height: 230px;
}
.contact-container .contact-info .contact-box .contact-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container .contact-info .contact-box .contact-text {
  text-align: center;
  margin-top: 5%;
}

.contact-img ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-img ul li {
  position: relative;
  list-style: none;
  margin: 0 20px;
  cursor: pointer;
}

.contact-img ul li a {
  text-decoration: none;
}

.contact-img ul li a .fa {
  font-size: 3em;
  color: #222;
}

.contact-img ul li::before {
  font-family: fontAwesome;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 3em;
  height: 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.contact-img ul li:nth-child(1)::before {
  content: "\f0e1";
  color: #0e76a8;
}

.contact-img ul li:nth-child(2)::before {
  content: "\f198";
  color: #4a154b;
}

.contact-img ul li:nth-child(3)::before {
  content: "\f099";
  color: #1da1f2;
}

.contact-img ul li:hover::before {
  height: 100%;
}

.contact-form {
  width: 40%;
  padding: 40px;
  background: rgba(255, 255, 255, 0.842);
}

.contact-form h3 {
  font-size: 30px;
}

.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 15px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
  background: rgba(255, 255, 255, 0.5);
}

.contact-form .input-box span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 15px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.2s;
  color: #666;
}

.contact-form .input-box input:focus ~ span,
.contact-form .input-box input:valid ~ span,
.contact-form .input-box textarea:focus ~ span,
.contact-form .input-box textarea:valid ~ span {
  color: #3fc5f0;
  font-size: 12px;
  transform: translateY(-20px);
}

.contact-form .input-box input[type="submit"] {
  width: 100px;
  background: #3fc5f0;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}
